html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

#editor-container {
  height: 100%;
}

#terminal-container {
  height: 100%;
}
